 body {
     max-width: 1990px;
     margin: 0 auto;
     background-color: #211F20;
 }

 .container {
     margin: 0 auto !important;
 }


 .text-style h2 {
     color: rgb(255, 255, 255);
     font-family: Inter Tight;
     font-weight: undefined;
     line-height: 61px;
     letter-spacing: 0px;
     text-transform: capitalize;
 }


 .text-style p {
     margin-top: 12px;
     color: rgb(201, 201, 201);
     font-family: Inter Tight;
     font-size: 18px;
     font-weight: undefined;
     line-height: 28px;
     letter-spacing: 0px;
 }


 .text-style-bottom h2 {
     color: rgb(255, 255, 255);
     font-family: Inter Tight;
     font-weight: undefined;
     line-height: 65px;
     letter-spacing: 0px;
     text-transform: capitalize;
 }

 .text-style-bottom h1 {

     color: rgb(229, 229, 229);
     font-family: Inter Tight;
     font-weight: undefined;
     line-height: 60px;
     letter-spacing: 0px;
     text-transform: capitalize;
 }

 .text-style-bottom p {


     color: rgb(201, 201, 201);
     font-family: Inter Tight;
     font-size: 18px;
     font-weight: undefined;
     line-height: 31px;
     letter-spacing: 0px;

 }

 .list a {
     color: rgb(255, 255, 255);
     font-family: Inter Tight;
     font-size: 26px;
     font-weight: undefined;
     line-height: 31px;
     letter-spacing: 0px;
     text-align: left;
 }

 .discus {
     background: linear-gradient(88.85deg, rgba(30, 38, 113, 1.00) 0%, rgba(193, 55, 100, 1.00) 100%);
     border-radius:20px;
 }

 .service h2 {
     color: rgb(255, 255, 255);
     font-family: Inter Tight;
     font-size: 54px;
     font-weight: undefined;
     line-height: 65px;
     letter-spacing: 0px;
     text-transform: capitalize;
 }

 .service p {
     color: rgb(201, 201, 201);
     font-family: Inter Tight;
     font-size: 18px;
     font-weight: undefined;
     line-height: 31px;
     letter-spacing: 0px;
     text-align: center;

 }

 .blog h2 {
     color: rgb(255, 255, 255);
     font-family: Inter Tight;
     font-size: 14px;
     font-weight: undefined;
     line-height: 17px;
     letter-spacing: 0px;
     text-align: left;
     text-transform: capitalize;
 }

 .blog p {
     color: rgb(255, 255, 255);
     font-family: Inter Tight;
     font-size: 18px;
     font-weight: undefined;
     line-height: 25px;
     letter-spacing: 0px;
     text-align: left;
     text-transform: capitalize;
 }

 .blog button {
     color: rgb(255, 255, 255);
     font-family: Inter Tight;
     font-size: 14px;
     font-weight: undefined;
     line-height: 17px;
     letter-spacing: 0px;
     text-align: left;
     text-transform: capitalize;
 }