.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logo{
  height: 70px !important;
}

.navItem {
  font-size: 16px;
  color: #ffffff;
  position: relative;
}
.navItem:hover {
  color: #828b9a;
  background-color: transparent;
}
.navItem:focus {
  color: #828b9a;
  background-color: transparent;
}
.active {
  position: relative;
  color: #ffffff;
  background-color: transparent;
}
.active::after {
  content: "";
  position: absolute;
  color: #222f3e;
  bottom: -2px;
  width: 16px;
  height: 2px;
  right: -1;
  background: #ff9f26 0% 0% no-repeat padding-box;
}
.navItem:hover::after {
  content: "";
  position: absolute;
  color: #222f3e;
  bottom: -2px;
  width: 16px;
  height: 2px;
  right: -1;
  background: #ff9f26 0% 0% no-repeat padding-box;
}
.menu1 {
  width: 30px;
  height: 2px;
  display: block;
  background-color: #828b9a;
}
.menu2 {
  width: 25px;
  height: 2px;
  margin-top: 5px;
  display: block;
  margin-left: auto;
  background-color: #828b9a;
}
.menu3 {
  width: 20px;
  height: 2px;
  margin-top: 5px;
  display: block;
  margin-left: auto;
  background-color: #828b9a;
}
.navItemMobile {
  font-size: 14px;
  position: relative;
  color: #ffffff !important;
}
.navItemMobileHover:hover {
  background-color: #ffac45;
}
.zIndex {
  z-index: 35555;
}
.marginBottomNavbar {
  margin-bottom: 92px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
